@import "../base/color";
@import "../base/mixins";
/* aqui creé un partial y luego apliqué el anidamiento en la parte del formulario*/

form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 80%;
    .form-row {
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        
        input
            [type="text"] {
            border: 1px solid gray;
            border-radius: 3px;
            width: 100%;} 
        input [type="email"] {
            border: 1px solid gray;
            border-radius: 3px;
            width: 100%;} 
        }
        button {
            @extend %botones;

            &:hover {
                background-color: mix($azul, $celeste);
                @include botton (scale(2));
            }
           
            } 
    }
/*EXTEND y MIXIN en linea 33 y 36/37 respectivamente*/